@font-face {
   font-family: 'pacificacondensedregular';
   font-display: swap;
   src: url('file:///C:/Users/alexd/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-14_173756/fonts/pacificacondensedregular/font.ttf');
}
